@import '../../variables';

.loading {
  border: 5px solid $gray-e;
  border-radius: 50%;
  border-top: 5px solid $gray-afafb2;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 15px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
