// Width
$container-width: 1180px;

// Color
$white: #fff;
$gray-9: #999;
$gray-6: #666;
$gray-f4: #f4f4f4;
$gray-e: #eee;
$gray-42: #424242;
$gray-f3: #f3f3f3;
$gray-707165: #707165;
$gray-afafb2: #afafb2;

$page-btn-border: #ff9b05;
$page-btn-bg: #fde5c0;
